<template>
  <div class="home">
    <discover-movie/>
    <discover-tv/>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import DiscoverMovie from '@components/Discover/Movie.vue';
import DiscoverTv from '@components/Discover/Tv.vue';

export default Vue.extend({
  components: {
    DiscoverMovie,
    DiscoverTv
  }
});
</script>
