<template>
    <section class="movie-details">
        <div class="container" v-if="loading">
            <Loading />
        </div>
        <div class="container" v-else-if="!loading && has_errors">
            <div class="row pt-3">
                <div class="col-12">
                    <div class="alert alert-danger">
                        We're sorry, but an error has occurred
                    </div>
                </div>
            </div>
        </div>
        <template v-else>
            <div class="container-fluid backdrop" v-if="details.backdrop_path" :style="{backgroundImage: backgroundImage }">
                <div class="row backdrop-row">
                    <div class="col text-center backdrop-text" style="margin-bottom:50px;">
                        <h1 class="text-white">{{ details.title }}</h1>
                        <h3 class="text-white font-italic" style="text-decoration:underline;" v-if="details.tagline">
                            {{ details.tagline }}</h3>
                    </div>
                </div>
            </div>
            <div class="container border-sides" style="border-radius:5px 5px 0 0;">
                <section class="row info-row">
                    <section class="col-12 col-md-4">
                        <div v-if="details.poster_path">
                            <img :src="buildProfileUri(details.poster_path)" class="img-fluid poster-image" alt="">
                        </div>
                        <div class="mt-3">
                            <strong>Hompage: </strong>
                            <a :href="details.homepage" target="_blank">{{details.homepage}}</a>
                        </div>
                        <div>
                            <strong>Released On</strong> {{ releaseDate }}
                        </div>
                        <div v-if="details.budget">
                            <strong>Budget (USD):</strong> {{ budgetUsd }}
                        </div>
                        <div>
                            <strong>Vote Average:</strong>
                            {{details.vote_average}} / 10 <small>({{ details.vote_count }} votes)</small>
                        </div>
                        <div v-if="details.genres">
                            <strong>Genres:</strong>
                            <template v-for="(genre, index) in details.genres">
                                {{genre.name}}<template v-if="index != details.genres.length -1 ">, </template>
                            </template>
                        </div>
                    </section>
                    <div class="col-12 col-md-8">
                        <nav class="nav nav-tabs">
                            <li class="nav-item"><a href="" @click.prevent="goToSection('overview')" class="nav-link active">Overview</a></li>
                            <li class="nav-item"><a href="" @click.prevent="goToSection('cast')" class="nav-link">Cast</a></li>
                            <li class="nav-item"><a href="" @click.prevent="goToSection('reviews')" class="nav-link">Review</a></li>
                        </nav>
                        <h3 id="overview">Overview</h3>
                        <p class="overview">
                            {{ details.overview }}
                        </p>
                    </div>
                    
                </section>
                <section class="row">
                    <div class="col">
                        <h2 id="cast" class="text-center">Cast</h2>
                        <Cast id="cast" :cast="cast" v-if="cast.length"/>
                    </div>
                </section>
                <section class="row reviews-row" id="reviews">
                    <div class="col">
                        <template v-if="!reviews.length && loading">
                            <Loading/>
                        </template>
                        <template v-else-if="!reviews.length && !loading">
                            <p class="lead text-center">No Reviews Yet</p>
                        </template>
                        <template v-else>
                            <h2 class="text-center my-3">Reviews</h2>
                            <div v-for="review in reviews" :key="review.id">
                                <blockquote class="blockquote px-4">
                                    <div v-html="strToParagraphs(review.content)"></div>
                                    <footer class="blockquote-footer">{{review.author}}</footer>
                                </blockquote>
                            </div>
                        </template>
                    </div>
                </section>
            </div>
        </template>
    </section>
</template>

<script lang="ts">
import Vue from 'vue';
// tslint:disable-next-line:variable-name
const CurrencyFormat = (num: number): string => {
    const arr: string[] = [];
    let s = num.toString();
    while(s.length) {
        arr.unshift(s.slice(-3));
        s = s.slice(0,-3);
    }
    return '$' + `${arr.join(',')}`;
};

import Cast from '@components/Cast.vue';

import moment from 'moment';

interface reviewInterface {
    id: string;
    author: string;
    content: string;
    url: string;
}

interface dataInterface {
    id?: string;
    details?: Movie.Details;
    cast: Movie.Cast[];
    castPage: number;
    reviews: reviewInterface[];
    loading: boolean;
    has_errors: boolean;
}
export default Vue.extend({
    components: {
        Cast
    },
    created() {
        this.$tmdb.get('movie/'+ this.id, {
            params: {
                append_to_response: 'credits,reviews'
            }
        }).then(({ data })=> {
            this.details = data;
            this.cast = data.credits.cast;
            this.reviews = data.reviews.results;
            this.loading = false;
        }).catch((err)=> {
            this.loading = false;
            this.has_errors = true;
            console.error(err);
        });
    },
    computed: {
        // Returns a background image url for use with the style tag
        backgroundImage(): string {
            return 'url(' + this.$tmdb.buildImageUri(this.details!.backdrop_path, 'w1280') + ')';
        },
        // Returns the budget in USD
        budgetUsd(): string {
            return CurrencyFormat(this.details!.budget || 0);
        },
        // Total cast pages.
        totalCastPages(): number {
            return Math.ceil(this.castWithImages.length / 4 );
        },
        // Total cast that have images.
        castWithImages(): Movie.Cast[] {
            return this.cast.filter((member)=> member.profile_path);
        },
        // The current cast.
        currentCast(): Movie.Cast[] {
            return this.castWithImages.slice((this.castPage - 1) * 4, this.castPage * 4);
        },
        releaseDate(): string {
            if(!this.details) return '';
            const releaseDate = moment(this.details.release_date);
            return releaseDate.format('MMMM DD, YYYY');
        }
    },
    data(): dataInterface {
        return {
            id: this.$route.params.id,
            details: {
                adult: false,
                backdrop_path: '',
                belongs_to_collection: {},
                poster_path: '',
                budget: 0,
                release_date: ''
            },
            cast: [],
            castPage: 1,
            reviews: [],
            loading: true,
            has_errors: false
        };
    },
    beforeRouteUpdate(to,from,next) {
        if(to.name !== 'movie-details') return;
        this.loading = true;
        this.$tmdb.get('movie/'+ to.params.id, {
            params: {
                append_to_response: 'credits,reviews'
            }
        }).then(({ data })=> {
            this.details = data;
            this.cast = data.credits.cast;
            this.reviews = data.reviews;
            this.loading = false;
            this.id = to.params.id;
        }).catch((err)=> {
            this.loading = false;
            this.has_errors = true;
            console.error(err);
        });

        next();
    },
    methods: {
        strToParagraphs(str: string): string {
            if(str.indexOf('<script') !== -1) return console.error('CANNOT RENDER SCRIPT TAGS'),'';
            return str.replace(/^(.+)$/mg, '<p>$1</p>');
        },
        goToSection(sectionId: string) {
            const el = document.querySelector('#'+sectionId);
            if(!el) return;
            console.log(el);
            el.scrollIntoView();
        },
        buildProfileUri(image: string): string {
            return this.$tmdb.buildImageUri(image, 'w300');
        }
    }
});
</script>

<style lang="scss">
    p.overview::first-line {
        font-size: 130%;
        font-style: italic;
        text-align: left;
    }

    .border-sides{
     
        border-width: 0 1px;
        border-style: solid;
        border-color: rgba(100, 100, 100, 0.25)
        // border-image: linear-gradient(to bottom, rgba(100,100,100, 0.25), rgba(0, 0, 0, 0)) 1 50%;

    }

    .backdrop {
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center 0;
        background-color: lightgrey;
        background-attachment: fixed;

        .backdrop-row {
            align-items: flex-end;
            min-height: 450px;
            .backdrop-text {
                text-shadow:
                    1px 1px 5px black,
                    -1px -1px 5px black;
            }
        }
        @media screen and (max-width: 716px){
            background-size: cover;
            background-position: center center;
            .backdrop-row {
                min-height: 200px;
            }
        }
        & + .border-sides {
            margin-top: -40px;
        }
    }

    .actor-image {
        background-size: contain;
        background-repeat: no-repeat;
    }

    .info-row {
        padding: 15px 5px;
        background-color: white;
        border-radius: 7px;
    }

    .previous,
    .next {
        color: black;
        cursor: pointer ;
        &.inactive{
            color:lightgrey;
        }
    }
</style>