<template>
    <div class="container">
        <div class="row">
            <div class="col text-center mt-3">
                <h1>Page Not Found</h1>
                Look mate, I'm not sure what you were looking for but there's nothing here.
                <div v-if="imageUrl">
                    As a consolation, here's a random cat picture. <br>
                    <img :src="imageUrl" class="img-fluid pb-2" alt="" v-if="imageUrl">
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import axios from 'axios';

export default Vue.extend({
    data() {
        return {
            imageUrl: ''
        };
    },
    created() {
        axios.get('https://api.thecatapi.com/v1/images/search?size=full').then( ({data}) => {
            this.imageUrl = data[0].url;
        });
    }
});
</script>
