<template>
    <div class="section">
        <div class="container main-section pt-3">
            <div class="row">
                <div class="col-md-4 col-12">
                    <img :src="profilePicture" alt="" class="img-fluid border p-1" v-if="profilePicture">
                    <dl>
                        <dt>Name </dt>
                        <dd>{{details.name}}</dd>
                        <dt>Born</dt>
                        <dd>{{formatDate(details.birthday, 'MMMM DD YYYY')}}, {{details.place_of_birth}}</dd>
                        <template v-if="details.deathday">
                            <dt>Died</dt>
                            <dd>{{formatDate(details.deathday, 'MMMM DD YYYY')}}</dd>
                        </template>
                        <template v-if="details.homepage">
                            <dt>Website</dt>
                            <dd><a :href="details.homepage">{{details.homepage}}</a></dd>
                        </template>
                        <template v-if="details.also_known_as.length">
                            <dt>Also Known As</dt>
                            <dd v-html="details.also_known_as.join(',<br>')"></dd>
                        </template>
                    </dl>
                </div>
                <div class="col-md-8 col-12">
                    <template v-if="details.biography">
                        <h1 id="biography">Biography</h1>
                        <div v-html="parsedBiography">
                        </div>
                    </template>
    
                    <h1 id="credits">Credits</h1>
                    <div class="preview" :class="{'show-more': showMore}">
                        <div class="preview-content">
                            <div class="credit-timeline">
                                <template v-for="(credit, index) in sortedCredits">
                                    <div class="year-container" 
                                        v-if="index == 0 || differentYear(sortedCredits[index -1].release_date || sortedCredits[index -1].first_air_date, credit.release_date||credit.first_air_date)"
                                        :key="'year-'+(credit.release_date || credit.first_air_date)">
                                        <div class="year">{{formatDate(credit.release_date || credit.first_air_date,'MMMM, YYYY')}}</div>
                                    </div>
                                    <figure class="credit" :key="credit.credit_id">
                                        
                                        <details>
                                            <summary>
                                                <h5>{{credit.title || credit.name}} <small>as {{credit.character || 'Themself' }}</small></h5>
                                                <router-link :to="`/${credit.media_type}/${credit.id}`" class="badge badge-primary">Go To</router-link>
                                            </summary>
                                            <p v-if="credit.overview">
                                                {{credit.overview}}
                                            </p>
                                        </details>
                                    </figure>
                                </template>
                            </div>
                        </div>
                        <div class="preview-toggle" @click="showMore = !showMore;">
                            Show {{ showMore ? 'Less' : 'More'}}
                        </div>
                        <div>
                            <small>Please note that some of the credits may be <em>incredibly</em> out of order or nonsensical. This is because they are sorted by release date (for movies)
                            or first air date for TV shows. For long-running TV shows, this pushes them very high up, sometimes before an actor is even born.</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Cast from '@components/Cast.vue';

import moment from 'moment';

type Optional<T> = {
    [ K in keyof T ]?: T[K];
};

interface PersonData {
    details: Optional<Person.Details>;
    loading: boolean;
    has_errors: boolean;
    credits: Person.CombinedCredit[];
    showMore: boolean;
}
export default Vue.extend({
    data(): PersonData {
        return {
            details: {},
            loading: true,
            has_errors: false,
            credits: [],
            showMore: false
        };
    },
    methods: {
        loadData(id: string | number) {
            this.loading = true;
            this.$tmdb.get('person/'+id, {
                params: {
                    append_to_response: 'combined_credits'
                }
            }).then(({data})=> {
                this.details = data as Person.Details;
                this.credits = data.combined_credits.cast as Person.CombinedCredit[];
            })
            .catch((err)=> {
                console.error(err);
            });
        },
        formatDate(date: string | Date, format: string | undefined): string {
            const d = moment(date);
            return d.format(format);
        },
        differentYear(date1: string | Date, date2: string | Date): boolean {
            return moment(date1).isAfter(date2, 'years');
        }
    },
    computed: {
        parsedBiography(): string {
            if(!this.details.biography) return '';
            if(this.details.biography.indexOf('<script')!==-1) return console.error('script tags are not allowed in the biography'), '';
            return this.details.biography.replace(/^(.+)$/gm, '<p>$1</p>');
        },
        profilePicture(): string {
            if(!this.details.profile_path) return '';
            return this.$tmdb.buildImageUri(this.details.profile_path, 'w300');
        },
        sortedCredits(): Person.CombinedCredit[] {
            if(!this.credits) return [];
            return this.credits.sort((a, b)=> {
                const aSort = moment(a.release_date || a.first_air_date);
                const bSort = moment(b.release_date || b.first_air_date);
                return aSort.isSameOrBefore(bSort) ? 1 : -1;
            });
        }
    },
    beforeRouteUpdate(to, from, next) {
        if(to.name !== 'person-details') return;
        this.loadData(to.params.id);
        next();
    },
    created() {
        this.loadData(this.$route.params.id);
    }
});
</script>

<style lang="scss">
@import '@/scss/variables.scss';
$left-color: #2cb7f3;
$right-color: #2cb7f3;
.preview {
    margin-bottom: 2vh;
    &.show-more{
        .preview-content {
            max-height: inherit;
        }
    }
    .preview-content {
        max-height: 50vh;
        overflow: hidden;
    }
    .preview-toggle {
        text-align:center;
        &:hover{
            text-decoration: underline;
        }
    }
}
.section {
    border-top: 100px solid $gray-300;
    @media screen and (max-width: 768px){
        border-top: none;
    }
}
.main-section {
    margin-top: -50px;
    background-color:white;
    border-radius: 10px 10px 0 0;
    border: 1px solid $gray-300;
    border-width:0 1px;
    @media screen and (max-width: 768px) {
        margin-top: 0;
    }
}
.credit-timeline {
    position:relative;
    box-sizing: border-box;
    width: calc(50% - 1rem);
    border-right: 2px solid $teal;

    .year-container {
        transform: translateX(50%);
        text-align: center;
        margin: 10px 0;
        .year {
            display: inline-block;
            box-sizing:border-box;
            background-color: $teal;
            padding: 0 9px;
            border-radius: 1rem;
            height: 2rem;
            line-height: 2rem;
        }
    }
    .credit {
        box-sizing: border-box;
        background-color: $left-color;
        padding: 8px 10px;
        margin: 4px 0;
        border-radius: 5px;
        summary {
            list-style: none;
        }
        summary::-webkit-details-marker{
            display: none;
        }
        h5 {
            margin-bottom:0;
        }
        &:nth-of-type(even) {
            position: relative;
            background-color:$right-color;
            transform: translateX( calc(100% + 10px));
            text-align: left;
            &::before {
                position: absolute;
                content: "";
                height: 10px;
                width: 10px;
                border: 10px solid $right-color;
                border-left: 0 solid transparent;
                top: 10px;
                left: -9px;
                border-color: transparent $right-color transparent transparent;
            }
        }
        &:nth-of-type(odd) {
            text-align: right;
            margin-right: 10px;
            position:relative;
            &::before {
                position: absolute;
                content: "";
                height: 10px;
                width: 10px;
                border: 10px solid $left-color;
                top: 10px;
                right: -20px;
                border-color: transparent transparent transparent $left-color;
            }
        }
    }
    @media screen and (max-width: 716px) {
        width:100%;
        .year-container,
        .credit {
            transform: none !important;
            margin-right: 10px;
            text-align: left !important;
            &::before {
                display:none;
            }
            &::after{
                content: "";
                position: absolute;
                top: 10px;
                right: -20px;
                border: 10px solid transparent;
            }
            &:nth-of-type(even)::after{
                border-left-color: $right-color;
            }
            &:nth-of-type(odd)::after{
                border-left-color: $left-color;
            }
        }
    }
}
</style>
