<template>
    <section>
        <Loading v-if="loading"/>
        <div class="container mt-3" v-else-if="!loading && has_error">
            <div class="row">
                <div class="col alert alert-danger text-center">
                    Sorry! we've encountered an error
                </div>
            </div>
        </div>
        <template v-else>
            <div class="container-fluid backdrop" :style="{backgroundImage: `url('${backgroundImageUri}')` }" v-if="backgroundImageUri">
                <div class="container h-100">
                    <div class="row backdrop-row">
                        <div class="col backdrop-text text-white mb-3">
                            <h2 class="text-center"> {{ details.name }}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container main-container pt-3">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <img :src="buildImageUri(details.poster_path,'w300')" class="img-fluid" alt="">
                        <dl>
                            <dt>Homepage</dt>
                            <dd><a :href="details.homepage">{{details.homepage}}</a></dd>
                            <dt>Genre(s)</dt>
                            <dd>
                                <span v-for="(genre, genre_index) in details.genres" :key="genre.id"> 
                                    {{genre.name}}<template v-if="genre_index != details.genres.length - 1">, </template>
                                </span>
                            </dd>
                            <dt>Network(s)</dt>
                            <dd>
                                <template v-for="(network,network_index) in details.networks">{{ network.name}}<template v-if="network_index != details.networks.length -1">, </template> </template>
                            </dd>
                            <dt>Status</dt>
                            <dd>{{ details.in_production ? 'Active' : 'Finished' }}</dd>
                            <dt>Type</dt>
                            <dd>{{ details.type}}</dd>
                        </dl>
                    </div>
                    <div class="col-12 col-md-8">
                        <nav class="nav nav-tabs">
                            <li class="nav-item">
                                <a href="" @click.prevent="goToSection('overview')" class="nav-link active">Overview</a>
                            </li>
                            <li class="nav-item">
                                <a href="" @click.prevent="goToSection('cast')" class="nav-link">Cast</a>
                            </li>
                        </nav>
                        <section id="overview">
                            <h1 class="mt-3">Overview</h1>
                            <p class="overview">
                                {{details.overview}}
                            </p>
                        </section>
                        <section id="cast">
                            <h1 class="mt-3">Cast</h1>
                            <Cast :cast="cast"/>
                        </section>
                    </div>
                </div>
            </div>
        </template>
    </section>
</template>

<script lang="ts">
import Vue from 'vue';
import Cast from '@components/Cast.vue';

interface tvDataInterface {
    details: Show.Details;
    cast: object[];
    loading: boolean;
    has_error: boolean;
}
export default Vue.extend({
    components: {
        Cast
    },
    data(): tvDataInterface {
        return {
            loading: true,
            has_error: false,
            details: {
                backdrop_path: '',
                genres: [],
                networks: [],
                seasons: []
            },
            cast: []
        };
    },
    methods: {
        buildImageUri(image: string | undefined, size: string): string {
            if(image===undefined) return '';
            return this.$tmdb.buildImageUri(image || '', size);
        },
        goToSection(section: string): void {
            // Get the element.
            if (section.charAt(0) !== '#') section = '#' + section;
            const el = document.querySelector(section);
            // If we cannot find it, error out and let someone know.
            if (el == null) return;
            el.scrollIntoView({
                behavior: 'smooth',
                block: 'start'
            });
        },
        loadData(id: string | number) {
            this.loading = true;
            this.has_error = false;
            this.$tmdb.get('tv/'+id, {
                params: {
                    append_to_response: 'credits'
                }
            }).then(({data}) => {
                this.details = data;
                this.cast = data.credits.cast;
                this.loading = false;
            }).catch((err) => {
                this.loading = false;
                this.has_error = true;
            });
        }
    },
    computed: {
        backgroundImageUri(): string {
            return this.buildImageUri(this.details.backdrop_path, 'w1280');
        }
    },
    created() {
        this.loadData(this.$route.params.id);
    },
    beforeRouteUpdate(to, from, next) {
        if(to.name !== 'tv-details') return;
        this.loadData(to.params.id);
        next();
    }
});
</script>

<style lang="scss">
    p.overview::first-line {
        font-size: 1.52rem;
    }

    .main-container {
        background-color: #fff;
        border-radius:5px 5px 0 0;
        border:1px solid rgba(0,0,0, 0.3);
        border-width:0 1px;
    }
    
    .backdrop {
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center 0;
        background-color: lightgrey;
        background-attachment: fixed;
        .backdrop-row {
            align-items: flex-end;
            min-height: 450px;
            padding-bottom: 50px;
            .backdrop-text {
                text-shadow: 1px 1px 5px black, -1px -1px 5px black;
            }
        
        }
        @media screen and (max-width: 716px) {
            background-size: cover;
            .backdrop-row {
                min-height: 200px;

            }
        }
        & + .main-container {
            margin-top: -40px;
        }
    }
    
    .image-row {
        color: white;
        min-height: 400px;
        background-attachment: fixed;
        background-size: cover;
        background-position: center top;
    }
</style>
