<template>
    <div class="discover" :class="'discover-'+$props.discover">
        <Loading v-if="loading" />
        <template v-else-if="!loading && has_errors">
            <div class="row">
                <div class="alert alert-danger">
                    We're sorry, but an error has occurred
                </div>
            </div>
        </template>
        <template v-else>
            <Carousel>
                <Slide :key="result_index" v-for="(result, result_index) in results">
                    <div class="card" >
                        <router-link :to="'/'+$props.discover+'/'+result.id">
                            <div class="poster-wrapper">
                                <img :src="getPoster(result.poster_path) " :alt="result.title || result.name" class="img-fluid">
                                <div class="poster_description-text">
                                    <section class="poster_description-text_main">
                                        {{result.overview}}
                                    </section>
                                </div>
                            </div>
                        </router-link>
                    </div>
                </Slide>
            </Carousel>
        </template>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import {Loadable} from '@lib/Interfaces';

import Carousel from '@components/Carousel/Carousel.vue';
import Slide from '@components/Carousel/Slide.vue';

type DiscoverSharedInstance = Show.Details | Movie.Details;

interface DiscoverBaseData extends Loadable {
    results: DiscoverSharedInstance[];
    currentPage: number;
    perPage: number;
    showControls: boolean;
}

export default Vue.extend({
    components: {
        Carousel,
        Slide
    },
    props: {
        discover: {
            type: String,
            default: 'movie'
        },
        page: {
            type: Number
        },
        controls: {
            type: Boolean,
            default: true
        }
    },
    methods: {
        getPoster(poster: string): string {
            return this.$tmdb.buildImageUri(poster, 'w300');
        },
        previousResults(): void {
            this.currentPage--;
        },
        nextResults(): void {
            this.currentPage++;
        }
    },
    data(): DiscoverBaseData {
        return {
            loading: true,
            has_errors: false,
            results: [],
            currentPage: 1,
            perPage: this.$props.page || 4,
            showControls: this.$props.controls
        };
    },
    created() {
        this.$tmdb.get('discover/'+this.$props.discover).then( ({data}) => {
            this.results = data.results,
            this.loading = false;
        } ).catch((err) => {
            console.error(err);
            this.loading = false;
            this.has_errors = true;
        });
    }
});
</script>

<style lang="scss">
.poster-wrapper{
    position:relative;
    height:100%;
    overflow:hidden;
}
.poster-wrapper:hover .poster_description-text{
    right:0;
    bottom:0;
    left:0;
    display:block;
}
.poster-wrapper .poster_description-text{
    transition:all 400ms ease-in;
    position:absolute;
    display:none;
    background-color:rgba(0,0,0,0.5);
    color:white;
    padding:10px 8px;
    text-align:left;
}

.poster-wrapper:hover .poster_description-text_main{
    display:block;
    overflow:hidden;
    text-overflow: ellipsis;
}
@media screen and (max-width: 716px) {
    .img-fluid {
        width: 100%;
    }
    .poster-wrapper {
        display: block !important;
        top: unset;
        bottom:0;
        left: 0;
        right: 0;
    }
}
</style>
