<template>
    <section class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="text-center">Discover New Movies</h2>
                    <!-- show the Base Discover element, specifically looking at movies, with 5 per page. -->
                    <Base discover="movie" :page="5"/>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <p class="font-italic">These are the movies that have risen quickly in ratings, maybe give them a look!</p>
                </div>
            </div>
        </div>
    </section>
</template>

<style>

</style>
<script lang="ts">
import Vue from 'vue';
import Base from './Base.vue';

export default Vue.extend({
    components: {
        Base
    },
    data() {
        return {
            page: 0,
            discover: []
        };
    },
    methods: {
        getPoster(url: string): string {
            return this.$tmdb.buildImageUri(url, 'w300');
        }
    }
});
</script>
