<template>
    <footer class="bg-dark text-white">
        <div class="container">
            <section class="row">
                <div class="col-3 col-md-1">
                    <img src="@/assets/tmdb-logo.svg" alt="The Movie Database" class="img-fluid">
                </div>
                <div class="col-12 col-md-11">
                    This SPA was built as a proof-of-skill
                </div>
                <div class="col-12 text-center pb-2">
                    &copy; 2019 Jim Burbridge
                </div>
            </section>
        </div>
    </footer>
</template>

<script lang="ts">
    import Vue from 'vue';
    export default Vue.extend({});
</script>