<template>
    <div class="loading">
        <i class="fas fa-spinner fa-pulse fa-3x"></i>
    </div>
</template>

<style lang="scss">
    $teal: #01d277;
    .loading{
        color: $teal;
        text-align:center;
    }
</style>

