<template>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container justify-space-between">
                <div class="logo">
                    Find that thing
                </div>
                <div class="search-container">
                    <form action="#/" class="navbar-form" :class="{'has-results': hasResults}" method="post" @submit.prevent="search" @keydown.capture.enter.up.down.escape="onKeydown">
                        <input type="search" class="navbar-search" :class="{'has-results': hasResults}" v-model.trim="searchQuery" @input="onInput()" placeholder="Search for Movies, TV, or People!">
                        <button type="submit" class="search-button"> <i class="fas fa-search"></i> </button>
                        <section class="container-fluid autocomplete-results" v-if="autoCompleteResults">
                            <div class="row py-3 autocomplete-result" v-for="result in autoCompleteResults" :key="result.id" @mousedown="goToResult(result.media_type, result.id)" :data-id="result.id" :data-media-type="result.media_type">
                                <div class="col-4">
                                    <template v-if="result.profile_path || result.poster_path">
                                        <img :src="$tmdb.buildImageUri(result.profile_path || result.poster_path, 'w300')" alt="" class="img-fluid">
                                    </template>
                                </div>
                                <div class="col-8 align-self-center">
                                    <h4>
                                        {{ result.name || result.title }}
                                    </h4>
                                    <p>{{result.media_type}}</p>
                                </div>
                            </div>
                        </section>
                    </form>
                </div>
                <div class="text-white router-links">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <router-link active-class="active" to="/" class="nav-link">Home</router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</template>
 
<script lang="ts">
import Vue from 'vue';

// Debounce with me, with me.
import debounce from 'lodash.debounce';
interface ShowDetails extends Show.Details {
    media_type?: string;
}
interface MovieDetails extends Movie.Details {
    media_type?: string;
}
interface PersonDetails extends Person.Details {
    media_type?: string;
}
// Declaring a new type, which is one of the details from the Show, Movie or Person.
type searchResults = ShowDetails | MovieDetails | PersonDetails;
// Navbar data interface
interface navbarData {
    searchQuery: string;
    autoCompleteResults: searchResults[];
}

export default Vue.extend({
    mounted() {
        // Original height of the thingy
        const $originalHeight: number = this.$el.clientHeight;
        // Listen on scroll
        document.addEventListener('scroll', () => {
            const active = $originalHeight < window.scrollY;
            this.$el.classList.toggle('fixed-top', active );
            document.body.classList.toggle('navbar-active', active);
        });
    },
    data(): navbarData {
        return {
            searchQuery: this.$route.params.query || '',
            autoCompleteResults: []
        };
    },
    computed: {
        hasResults(): boolean {
            return this.autoCompleteResults.length > 0;
        }
    },
    methods: {
        onInput: debounce(function(this: any, e: KeyboardEvent) {
            if(this.searchQuery.length > 2 ) {
                this.$tmdb.get('/search/multi', {
                    params: {
                        query: this.searchQuery
                    }
                }).then(( {data} ) => {
                    this.autoCompleteResults = data.results;
                });
            }
        }, 250),
        onKeydown(e: KeyboardEvent) {
            // Get the current element
            let currentEl: Element | null = document.querySelector('.autocomplete-result.selected');
            // the property we will be looking at; if we are hitting the up arrow, then we need the previousElementSibling.
            // Down? nextElementSibling
            const property: string = e.code === 'ArrowUp' ? 'previousElementSibling' : 'nextElementSibling';
            // the current target as an input element
            const target = e.target as HTMLInputElement;
            // Check if we have don't have an element.
            if(!currentEl) {
                // okay, the set the result to be the first autocomplete-result element we find.
                currentEl = document.querySelector('.autocomplete-result');
                // If we have an element, add the selected class and end execution
                if(currentEl) currentEl.classList.add('selected');
                return ;
            }
            // If the code is the escape button
            if(e.code === 'Escape') {
                // Prevent Default (Just in Case)
                e.preventDefault();
                // Blur
                target.blur();
                // Stop execution
                return;
            }
            // Scroll the current element into view
            currentEl.scrollIntoView();
            // If the code is 'Enter'...
            if(e.code === 'Enter') {
                // Go to the URL to view the details
                if(currentEl.hasAttribute('data-media-type') && currentEl.hasAttribute('data-id') ) {
                    this.goToResult(currentEl.getAttribute('data-media-type')!, currentEl.getAttribute('data-id'));
                    // Prevent default
                    e.preventDefault();
                    // blur
                    target.blur();
                    // Stop execution
                    return ;
                }
            }

            // If we've gotten here we know that there we should now highlight the next/previous element in our list
            currentEl.classList.remove('selected');
            // Check if the property even exists
            if(currentEl[property]) {
                // add in the selected element.
                currentEl[property].classList.add('selected');
            }
        },
        search(e) {
            // First we have to update the data in our store
            this.$store.commit('updateSearch', { searchQuery: this.searchQuery });
            // Let's make it look like we've gone to a new page
            this.$router.push({
                name: 'search-results',
                params: {
                    query: this.searchQuery
                }
            });
        },
        goToResult(mediaType: string | null, id: number | string | null) {
            if(mediaType == null || id == null) return;
            this.$router.push('/' + [mediaType, id].join('/'));
        }
    }
});
</script>

<style lang="scss">
    .logo{
        color:white;
    }
    
    .navbar-form{
        position:relative;
        font-size:1.15rem;
        *:focus{
            outline:none;
        }
        &:focus-within{
            .navbar-search{
                width:400px;
                &.has-results{
                    border-radius: 20px 20px 0 0 ;
                }
                ~ .autocomplete-results{
                    display: block;
                }
                @media screen and (max-width: 768px){
                    width:100%;
                }
            }
            .search-button{
                display:inline-block;
            }
        }
        .navbar-search{
            z-index:101;
            border:0;
            box-sizing:border-box;
            position:relative;
            padding:4px 20px;
            border-radius:20px;
            text-align:center;
            transition: width 350ms;
            width:300px;
        }
        .search-button{
            padding:4px 9px;
            background-color:transparent;
            position:absolute;
            right:0;
            z-index:200;
            border:0;
            display:none;
        }
        .autocomplete-results{
            position:absolute;
            z-index:100;
            background-color:white;
            box-shadow:0 0px 3px rgba(0, 0, 0, 0.25);
            display:none;
            max-height: calc(100vh - 50px);
            overflow-y: auto;
            .autocomplete-result{
                &.selected,
                &:hover{
                    background-color:lightgrey;
                }
            }
        }
    }
    @media screen and (max-width: 768px){
        .search-container {
            order:3;
            flex: 0 0 100%;
            .navbar-form{
                &:focus-within {
                    .navbar-search {
                        display:inline-block;
                        margin: 0 -25px 0 0;
                    }
                }
            }
            .navbar-search{
                margin:0 auto;
                display:block;
            }
        }
    }

</style>
