<template>
    <div class="row">
        <div class="col">
            Unsure why I made this file....
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import moment from 'moment';

export default Vue.extend({
    props: {
        data: Object
    },
    created() {
        console.log('hello', this.$props);
    }
});
</script>
