<template>
    <div class="carousel">
        <div class="carousel-controls">
            <div class="carousel-control previous" @click="prev"><i class="fas fa-chevron-left"></i></div>
            <div class="carousel-control next" @click="next"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="carousel-body" ref="carouselBody">
            <slot></slot>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import debounce from 'lodash.debounce';
export default Vue.extend({
    props: {
        perPage: {
            type: Number,
            default: 5
        },
        debounceTimeout: {
            type: Number
        }
    },
    data() {
        return {
            isMobile: false,
            currentIndex: 0
        };
    },
    methods: {
        next() {
            const parentRect = this.$el.getBoundingClientRect();
            const elements = this.$el.querySelectorAll('.carousel-slide');
            const total: number[] = [];
            // tslint:disable-next-line
            for(let i = 0, element = elements[i]; element = elements[i]; i++) {
                const rect = element.getBoundingClientRect();
                if(rect.left >= (parentRect.left + parentRect.width) && this.perPage > total.length) {
                    total.push(i);
                }

                if(this.isMobile && total.length) break;
            }
            if(elements[total[total.length - 1]]) elements[total[total.length - 1]].scrollIntoView(false);
        },
        prev() {
            const parentRect = this.$el.getBoundingClientRect();
            const elements = this.$el.querySelectorAll('.carousel-slide');
            const total: number[] = [];
            // tslint:disable-next-line
            for(let i = elements.length - 1, element = elements[i]; element = elements[i]; i--) {
                const rect = element.getBoundingClientRect();
                if(rect.left <= 0 && this.perPage > total.length) {
                    total.unshift(i);
                }
                if(this.isMobile && total.length>0) break;
            }
            if(elements[total[0]]) elements[total[0]].scrollIntoView(false);
        }
    },
    mounted() {
        this.isMobile = document.body.clientWidth <= 716;
        window.addEventListener('resize', ()=> {
            this.isMobile = document.body.clientWidth <= 716;
        });
        (this.$refs.carouselBody as HTMLElement).addEventListener('scroll', debounce((e)=> {
            this.$emit('carousel-scroll', this.$refs.carouselBody, e);
        }, this.debounceTimeout || 100));
    }
});
</script>

<style lang="scss" >
.carousel {
    position: relative;
    width: 100%;
    
    .carousel-control {
        position: absolute;
        top:0;
        bottom: 0;
        padding: 3px 6px;
        background-color: rgba(0,0,0,0.4);
        align-items: center;
        display: flex;
        color: white;
        cursor: pointer;
        z-index: 100;
        font-size: 1.3rem;
        &.previous {
            left: 0;
            background: linear-gradient(to right, rgba(0,0,0,0.25), rgba(0,0,0,0) );
        }
        &.next {
            right: 0;
            background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.25) );
        }
    }
    .carousel-body {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        justify-items: center;
        .carousel-slide {
            flex: 0 0 calc(100% / 5);
            scroll-snap-align: start;
            & + .carousel-slide {
                margin-left: 10px;
            }
            &:last-child {
                scroll-snap-align:end;
            }
        }
    }
    @media screen and (max-width: 716px){
        .carousel-controls {
            display: flex;
            color: inherit;
            justify-content: space-between;
            .carousel-control {
                position: relative;
                background: unset;
                color: inherit;
            }
        }
        .carousel-body {
            padding: unset;
            overflow: auto;
            .carousel-slide {
                flex: 0 0 100%;
                scroll-snap-align: center;
            }
        }
    }
}
</style>
